@model IEnumerable<Animal>


@{
    ViewData["Title"] = "Index";
}
<center>
    <h1>Home</h1>

</center>
<center>
    @foreach (var animal in Model)
    {

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@animal.PictureName" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@animal.Name</h5>
                <p class="card-text">@animal.Name has @animal.Comments!.Count comments</p>
            </div>
            <p class="card-text">Age: @animal.Age</p>
            <div class="card-body">
                <a asp-action="Details" asp-route-categoryId="@animal.CategoryId" asp-route-id="@animal.AnimalId" asp-controller="Catalog" class="card-link">Details</a>
                <a asp-action="AnimalEdit" asp-route-id="@animal.AnimalId" asp-controller="Administrator" class="card-link">Edit</a>
            </div>


        </div>



    }
</center>
