@model Tuple<IEnumerable<Category>, Animal>
@{
    ViewData["Title"] = "AnimalEdit";
}


<center>
    <center style="width: 400px">
        <h1>AnimalEdit</h1>

        <img class="card-img-top" src="/@Model.Item2.PictureName" alt="Card image cap">

        <form enctype="multipart/form-data" asp-action="EditAnimal" asp-controller="Administrator" asp-route-id="@Model.Item2.AnimalId">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Category select</label>
                <select required="required" asp-for="@Model.Item2.CategoryId" name="categoryId" class="form-control" id="exampleFormControlSelect1">
                    @foreach (var category in Model.Item1)
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <div>
                    <label for="exampleFormControlInput1">Animal Name</label>
                    <textarea name="name" asp-for="@Model.Item2.Name" required="required" type="text" class="form-control" id="exampleFormControlInput1">@Model.Item2.Name</textarea>
                    <span asp-validation-for="@Model.Item2.Name" class="text-danger"></span>
                </div>
                <div>
                    <label for="exampleFormControlInput1">Animal Age</label>
                    <input name="age" asp-for="@Model.Item2.Age" required="required" type="number" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="@Model.Item2.Age" class="text-danger"></span>

                </div>
                <div>
                    <label for="exampleFormControlTextarea1">Description:</label>
                    <textarea class="form-control" required="required" name="description" asp-for="@Model.Item2.Description" id="exampleFormControlTextarea1" rows="3">@Model.Item2.Description</textarea>
                    <span asp-validation-for="@Model.Item2.Description" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Picture update</label>
                    <input name="file" type="file" required="required" class="form-control-file" accept="image/png, image/gif, image/jpeg , image/jfif" id="exampleFormControlFile1">
                    <label for="exampleFormControlFile1">*Required*</label>
                </div>
                <input type="submit" value="Update" class="card-link" />
            </div>


        </form>


    </center>
</center>